<!DOCTYPE html>
<html>

<head>

<title>Ruleta</title>

<style>

body{
background:black;
color:white;
text-align:center;
font-family:Arial;
}

button{
padding:20px;
font-size:20px;
background:gold;
border:none;
border-radius:10px;
}

</style>

</head>

<body>

<h1>🎡 Ruleta</h1>

<p id="result">Presiona girar</p>

<button onclick="spin()">Girar</button>

<br><br>

<a href="slot.html">
<button>Ir a tragamonedas</button>
</a>

<script>

function spin(){

let number = Math.floor(Math.random()*37)

document.getElementById("result").innerText =
"Salió el número: " + number

}

</script>

</body>
</html>
